<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12">
            <app-game-controler (intervalFired)="onIntervalFired($event)"></app-game-controler>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-6">
            <app-odd *ngFor="let oddNumber of oddNumbers" [counterNumber]="oddNumber"></app-odd>
        </div>
        <div class="col-xs-12 col-6">
            <app-even *ngFor="let evenNumber of evenNumbers" [counterNumber]="evenNumber"></app-even>
        </div>
    </div>
</div>


<router-outlet></router-outlet>